{% extends 'base.html.twig' %}

{% block title %}Edit Inmobiliaria{% endblock %}

{% block body %}
    <h1>Edit Inmobiliaria</h1>

    {{ include('inmobiliaria/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_inmobiliaria_index') }}">back to list</a>

    {{ include('inmobiliaria/_delete_form.html.twig') }}
{% endblock %}
