<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Correo de Inmobiliaria</title>
</head>
<body>

    <p>Hola!</p>

<p> Antes que nada, adjunto dos imágenes sobre 
        una de tus publicaciones en cabaprop, que te 
        van a decir mucho más de lo que hacemos que el resto 
        de este email.</p>

    <p>Ahora bien, si las imágenes te parecieron 
        buenísimas como a nosotros, te cuento un poco 
        más sobre nuestra aplicación.</p>
    <p>La idea es transformar fotos de habitaciones 
        vacías o con muebles viejos en espacios mucho 
        más modernos, acogedores e incluso tentadores. 
        El resultado es claro, más interés, más clics 
        y más ventas/alquileres.</p>

    <p>Creemos realmente que este servicio podría 
        darle un gran empujón a tus publicaciones.</p>

    <p>Por último te invito a que pruebes nuestro 
        servicio gratuitamente. Solo deberías entrar 
        a nuestra web (https://myhouseai.com/) con este 
        correo y listo. En el caso de que quieras entrar 
        con otro correo gmail, avisanos y te asignamos una 
        imagen de prueba.</p>

    <p>Muchas gracias!</p>
    <p>Abrazo.</p>
    <img src="{{ruta_imagen_original}}" alt="Imagen de Inmobiliaria" width="400">
    <img src="{{ruta_imagen_generada}}" alt="Imagen de Inmobiliaria" width="400">
    <!-- Incluir la URL del píxel de seguimiento -->
    <img src="{{pixel_url}}" alt="" style="display:none;">
</body>
</html>