<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Correo de Inmobiliaria</title>
</head>
<body>

    <p>Hola! </p>
    <p>Antes que nada te adjuntamos unos ejemplos de lo que hace nuestra aplicacion. Con nuestra web convertimos. en dos clicks, fotos de lugares vacíos o sin mucho estilo en lugares más modernos y atractivos, lo que genera más clicks y ventas. Te asignamos una prueba gratuita con este email en https://www.myhouseai.com.ar</p>    
    <p>Cualquier consulta no dudes en avisarme</p>  
    <p>Muchas gracias! </p>
    <p>Abrazo</p>
    <img src="https://myhouseai.com/gen_antes.jpeg" alt="Imagen de Inmobiliaria" width="400">
    <img src="https://myhouseai.com/gen_despues.jpg" alt="Imagen de Inmobiliaria" width="400">
    <!-- Incluir la URL del píxel de seguimiento -->
    <img src="{{pixel_url}}" alt="" style="display:none;">
</body>
</html>
