<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Correo de Inmobiliaria</title>
</head>
<body>

    <p>Hola, como andas?</p>
    <p>Te cuento que recientemente lanzamos una nueva web/aplicación diseñada para optimizar las fotos de tus publicaciones de manera rápida y sencilla.  <br>
    En pocos clics, puedes transformar imágenes de espacios vacíos o con muebles anticuados en ambientes modernos y atractivos, 
    ideales para captar más interés y generar más clics en tus publicaciones.</p>
    
    <p>Además, también ofrecemos la opción de <b>quitar muebles de habitaciones llenas</b>, 
    lo que te permitirá presentar un espacio limpio y despejado, aumentando aún más el atractivo visual de tus imágenes.</p>

    <p>Por ultimo podés probar la aplicacion GRATIS ingresando a nuestra web <a href='https://myhouseai.com.ar/?idgenerar={session}'>www.myhouseai.com.ar</a></p>    
 
    <p>El servicio tiene un costo de $1.999 por imagen/habitación. Esto te permitirá subir una habitación y generar hasta 15 variaciones y opciones para encontrar la que mas te guste.</p>
    <p>Disculpa las molestias y cualquier consulta no dudes en avisarnos!</p>  
    <p>Muchas gracias!.</p>
    <p>Abrazo.</p>
    <img src="https://myhouseai.com/mail/antes.jpg" alt="Imagen de Inmobiliaria" width="400">
    <img src="https://myhouseai.com/mail/despues.jpg" alt="Imagen de Inmobiliaria" width="400">
    <img src="https://myhouseai.com/mail/original.jpg" alt="Imagen de Inmobiliaria" width="400">
    <img src="https://myhouseai.com/mail/vacia.jpg" alt="Imagen de Inmobiliaria" width="400">
    <!-- Incluir la URL del píxel de seguimiento -->
    <img src="{{pixel_url}}" alt="" style="display:none;">
</body>
</html>
