


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Correo de Inmobiliaria</title>
</head>
<body>

    <p>Hola! Disculpa que te moleste nuevamente, pero olvide adjuntarte la imagen sobre tu publicacion en cabaprop.

Cualquier cosa avisame!
Saludos.</p>

    <img src="{{ruta_imagen_original}}" alt="Imagen de Inmobiliaria" width="400">
    <img src="{{ruta_imagen_generada}}" alt="Imagen de Inmobiliaria" width="400">
    <!-- Incluir la URL del píxel de seguimiento -->
    <img src="{{pixel_url}}" alt="" style="display:none;">
</body>
</html>
