<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Correo de Inmobiliaria</title>
</head>
<body>

    <p>Hola! Te adjuntamos dos imágenes de una de tus publicaciones en cabaprop. Con nuestra web convertimos. en dos clicks, fotos de lugares vacíos o sin mucho estilo en lugares más modernos y atractivos, lo que genera más clicks y ventas. Podes probarlo gratis con tu email en myhouseai.com.</p>    
    <p>Abrazo!</p>
    <img src="{{ruta_imagen_original}}" alt="Imagen de Inmobiliaria" width="400">
    <img src="{{ruta_imagen_generada}}" alt="Imagen de Inmobiliaria" width="400">
    <!-- Incluir la URL del píxel de seguimiento -->
    <img src="{{pixel_url}}" alt="" style="display:none;">
</body>
</html>
