<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Correo de Inmobiliaria</title>
</head>
<body>

    <p>Hola, como andas?</p>
    <p>Te cuento que estuvimos desarrollando hace poco una web/aplicación para mejorar las fotos de las publicaciones. La idea es convertir, en muy pocos clicks, una imagen de lugares vacíos o con muebles anticuados, en un lugar mucho más moderno y tentador para generar más interés y más clicks en tus publicaciones. Te adjunto unas imágenes de ejemplo para que veas. Por ultimo vas a poder probar la aplicacion gratis ingresando a nuestra web (<a href='https://myhouseai.com/?session={session}'>myhouseai.com</a>)</p>    
    <p>Disculpa las molestias y cualquier consulta no dudes en avisarnos!</p>  
    <p>Muchas gracias</p>
    <p>Abrazo</p>
    <img src="https://myhouseai.com/gen_antes.jpeg" alt="Imagen de Inmobiliaria" width="400">
    <img src="https://myhouseai.com/gen_despues.jpg" alt="Imagen de Inmobiliaria" width="400">
    <!-- Incluir la URL del píxel de seguimiento -->
    <img src="{{pixel_url}}" alt="" style="display:none;">
</body>
</html>
